VITE_API_URL=https://vibe-book-api.onrender.com
VITE_SOCKET_URL=https://vibe-book-api.onrender.com
VITE_SOCKET_PATH=/socket.io
VITE_FRONTEND_URL=https://vibe-book-kappa.vercel.app
VITE_APP_ROOT_URL=https://vibe-book-kappa.vercel.app
VITE_LIVE_STREAM_URL=https://vibe-book-api.onrender.com
